<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudyApplication">
        <activity
            android:name=".code5.activity.UserListActivity"
            android:exported="true" />
        <activity
            android:name=".code5.activity.HttpActivity"
            android:exported="true" />
        <activity
            android:name=".code4.activity.NavHomeActivity2"
            android:exported="true"
            android:label="@string/title_activity_home2" />
        <activity
            android:name=".code00.activity.ContextCompatActivity"
            android:exported="true" />
        <activity
            android:name=".common.activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".code3.activity.RecyclerViewStudyListActivity"
            android:exported="true" />
        <activity
            android:name=".code3.activity.RecyclerViewStudyActivity"
            android:exported="true" />
        <activity
            android:name=".code2.activity.ListViewStudyActivity"
            android:exported="true" />
        <activity
            android:name=".base.BaseActivity"
            android:exported="true" />
        <activity
            android:name=".code2.activity.PhoneDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".common.activity.MainActivity"
            android:exported="true" />
        <activity android:name=".code3.activity.RecyclerViewHorizontalActivity" />
        <activity android:name=".code3.activity.RecyclerViewGridActivity" />
        <activity android:name=".code3.activity.RecyclerViewStaggeredGridActivity" />
        <activity android:name=".code4.activity.NavStudyActivity" />
        <activity android:name=".code00.activity.progressbar.ProgressBarViewStudyActivity" />
        <activity android:name=".code00.activity.AllViewStudyActivity" />
        <activity android:name=".code00.activity.progressbar.HorizontalProgressBarctivity" />
        <activity android:name=".code4.activity.NavHomeActivity1" />
        <activity android:name=".code4.activity.NavHomeActivity3" />
        <activity android:name=".common.activity.HomeActivity" />
        <activity android:name=".code5.activity.HttpPostActivity" />
    </application>

</manifest>